*{
    padding: 0;
    margin: 0;
    color: #424242;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.image {
    height: 60vh;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
}

.texts {
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
    text-align: end;
    font-weight: 400;
}

.user-select-none {
    user-select: none;
}

.container {
    background-image: linear-gradient(45deg, #ffb6b9 0%,#ffb6b9 40%, #ffe6df 60%, #ffe6df 100%);
}

.texts h1 {
    font-size: 6rem;
    font-family: 'Satisfy', cursive;
}

.satisfy-font {
    font-family: 'Satisfy', cursive;
}

.texts h4 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.texts button {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 20%;
    padding: 3% 6%;
    cursor: pointer;
    border: none;
    background: white;
    transition: background 0.2s ease, color 0.2s ease;
    border-radius: 4px;
}

.d-flex {
    display: flex;
}

.list-none {
    list-style: none;
}

.texts button:hover {
    background: #f08387;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: auto;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.navbar li {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background 0.2s ease, color 0.2s ease;
    border-radius: 4px;
}

.home li:hover {
    background-color: white;
    color: #424242
}

.action li:hover {
    background-color: #424242;
    color: white
}

.navbar .satisfy-font {
    font-size: 1.5rem;
    color: white;
}